[Interface]
Address = {{ amneziawg_address }}{% if amneziawg_address_v6 is defined %}, {{ amneziawg_address_v6 }}{% endif %}

ListenPort = {{ amneziawg_port }}
PrivateKey = {{ server_private_key }}

PostUp = iptables -A FORWARD -i %i -j ACCEPT
PostUp = iptables -A FORWARD -o %i -j ACCEPT
PostUp = iptables -t nat -A POSTROUTING -o {{ ansible_default_ipv4.interface }} -j MASQUERADE
{% if amneziawg_address_v6 is defined %}
PostUp = ip6tables -A FORWARD -i %i -j ACCEPT
PostUp = ip6tables -A FORWARD -o %i -j ACCEPT
PostUp = ip6tables -t nat -A POSTROUTING -o {{ ansible_default_ipv4.interface }} -j MASQUERADE
{% endif %}

PostDown = iptables -D FORWARD -i %i -j ACCEPT || true
PostDown = iptables -D FORWARD -o %i -j ACCEPT || true
PostDown = iptables -t nat -D POSTROUTING -o {{ ansible_default_ipv4.interface }} -j MASQUERADE || true
{% if amneziawg_address_v6 is defined %}
PostDown = ip6tables -D FORWARD -i %i -j ACCEPT || true
PostDown = ip6tables -D FORWARD -o %i -j ACCEPT || true
PostDown = ip6tables -t nat -D POSTROUTING -o {{ ansible_default_ipv4.interface }} -j MASQUERADE || true
{% endif %}

{% set awg_obfuscation = amneziawg_obfuscation | default({}) %}
{% for key, directive in [('s1', 'S1'), ('s2', 'S2'), ('h1', 'H1'), ('h2', 'H2'), ('h3', 'H3'), ('h4', 'H4')] %}
{% if key in awg_obfuscation %}
{{ directive }} = {{ awg_obfuscation[key] }}
{% endif %}
{% endfor %}

{% for client in amneziawg_clients %}
[Peer]
PublicKey = {{ client.public_key }}
AllowedIPs = {{ client.allowed_ips | join(', ') }}

{% endfor %}
